/* Global Rules*/
* {
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}
.App {
	height: 100vh;
	padding: 30px;
	background: #232323;
}
.bggreen, .modify {
	background-color: #159600;
	color: white;
}
.bgred, .delete {
	background-color: #D42323;
	color: white;
}
.bgblack {
	background: #4a4a4a;
	color: white;
}
.clrRed {
	color: #D42323;
}
.clrGreen {
	color: #159600;
}
.clrWhite {
	color: white;
}
.bigCard::-webkit-scrollbar {
	width: 5px;
}
.bigCard::-webkit-scrollbar-track {
	border-radius: 10px;
	background: transparent;
}
.bigCard::-webkit-scrollbar-thumb {
	background: #bfbfbf; 
	border-radius: 10px;
	margin: 3px;
}


/* Top Divs */
.App .info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.App .info div {
	text-align: center;
	width: 33%;
	border-radius: 10px;
	padding: 25px 0;
}

/* Bottom Divs */
.bigCards {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bigCard {
	background: #4a4a4a;
	width: 33%;
	text-align: center;
	border-radius: 10px;
	height: 100%;
	overflow-y: scroll;
	height: calc(100vh - 215px);
	padding: 25px;
}
.bigCard h1 {
	padding-bottom: 20px;
	color: white;
}
.bigCard .actions {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.bigCard .actions button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	outline: none;
	margin-bottom: 20px;
	padding: 10px;
	cursor: pointer;
}
.bigCard .actions img {
	width: 100%;
}
.addAmount {
	width: 100%;
	background: #e8e8e8;
	border-radius: 10px;
	padding: 13% 30px;
}
input[type=number], select {
	width: 100%;
	margin-bottom: 7%;
	padding: 12px 5px;
	border-radius: 5px;
	outline: none;
	border: 2px solid #ccc;
}
input[type=submit] {
	width: 100%;
	padding: 12px 7px;
	border-radius: 5px;
	border: none;
	font-weight: 600;
	font-size: 1.1rem;
	background: #1b7abf;
	color: white;
	cursor: pointer;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
} 
.card .category {
	font-size: 1.1rem;
	font-weight: 700;
}
.card .date {
	color: #232323;
	font-size: .8rem;
}
.card-container {
	background: #e8e8e8;
	padding: 10px;
	border-radius: 7px;
	margin-bottom: 7px;
}
.modify-form {
	padding-top: 10px;
}
.card .modify, .card .delete {
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
}
.card p:first-of-type {
	font-weight: 600;
}
.card div button {
	padding: 10px;
}
.card img {
	width: 100%;
}

/* Charts */
.container {
	width: 100%;
	height: fit-content;
	background: #e8e8e8;
	border-radius: 7px;
	padding: 20px;
}

